<%- include("../partials/header") %>

<div class="jumbotron" style="background-color: transparent !important">
  <div class="container">
    <h1>Posted <i class="fa fa-book"></i></h1>
    <p>
      A place to blog about your hobbies, provide educational articles, or tell a story of your own. Your way of keeping us Posted.
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Post</a>
    </p>
    <% if(currentUser && currentUser.isAdmin) {%>

    <h1 style="text-align: end; color: rgb(255, 217, 0)">You're an Admin!</h1>
    <% } %>
  </div>
</div>

<div class="container">
  <!-- <div class="row text-center" style="display: flex; flex-wrap: wrap;">
		<% campgrounds.forEach(function(campground){ %>
		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img src="<%= campground.image %>">
				<div class="caption">
					<h4><%= campground.name%></h4>
				</div>
				<p>
					<a href="/campgrounds/<%= campground._id%>" class="btn btn-primary">More Info</a>
				</p>
			</div>

		</div>
		<% }); %>
	</div> -->

  <div class="row text-center">
    <% campgrounds.forEach(function(campground){ %>
    <div class="col-md-3 col-sm-6">
      <div class="ui card">
        <img src="<%= campground.image %>" />

        <div class="content">
          <a style="font-family: 'Playfair Display', serif;" class="header"><%= campground.name%></a>
          <div class="meta">
            <span class="summary"><%= campground.description%></span>
          </div>
          <div class="description">
            <a href="/campgrounds/<%= campground._id%>" class="btn btn-primary"
              >More Info</a
            >
            <p><%= campground.date.toLocaleDateString();%></p>
            
          </div>
        </div>
      </div>
    </div>

    <% }); %>
  </div>
</div>

<%- include("../partials/footer") %>
